<div class="vs-right-menu">
    <!--Kurs.com.ua main 300x130 Киев blue-->
    <div id='kurs-com-ua-informer-main-300x130-kiev-blue-container'><a href="//kurs.com.ua/informer" id="kurs-com-ua-informer-main-300x130-kiev-blue" title="Курс валют информер Украина" rel="nofollow" target="_blank">Информер курса валют</a></div>
    <script type='text/javascript'>
    (function() {var iframe = '<ifr'+'ame src="//kurs.com.ua/informer/inf2/908?color=blue" width="100%" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';var container = document.getElementById('kurs-com-ua-informer-main-300x130-kiev-blue');container.parentNode.innerHTML = iframe;})();
    </script>
    <noscript><img src='//kurs.com.ua/static/images/informer/kurs.png' width='52' height='26' alt='kurs.com.ua: курс валют в Украине!' title='Курс валют' border='0' /></noscript>
    <!--//Kurs.com.ua main 300x130 Киев blue-->

    {{ render (controller("AppBundle:Base:getContactForm")) }}
</div>