{% extends 'base.html.twig' %}
{% block body %}
	<h1>
		Контакты
	</h1>
	<div class="vs-page-content">
		<div>
			03045, Украина, г. Киев	
		</div>
		<div>
			ул. Плещеева 10Д	
		</div>
		<div>
			тел.: + 38 (044) 2303130, (044) 2908488	
		</div>
		<div>
			E-mail: <a href="mailto:turagenciavsesvit@mail.ru">turagenciavsesvit@mail.ru</a>
		</div>
		<div>
			Турагентство ВсеСвит	
		</div>
	</div>
{% endblock %}
