{% extends 'base.html.twig' %}
{% block body %}
    <div class="vs-page-title">
        <h1>ЛУЧШИЕ ПРЕДЛОЖЕНИЯ и АКЦИИ</h1>    
    </div>
    <div class="vs-page-content">
        <div class="row vs-items-row">
            {% for hotTour in hotTours %}
            {% if (loop.index0 > 0) and (loop.index0 % 3 == 0) %}
        </div>
        <div class="row">
            {% endif %}
            <div class="col-md-4">
                <a href="{{ path('tour_info', {'id': hotTour.id}) }}" class="vs-hottour-link">
                    <div class="vs-hottour">
                        <img src="/uploads/images/{{ hotTour.image }}" />
                        <div class="vs-title">{{ hotTour.title }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
