{% extends 'base.html.twig' %}

{% block body %}
	<h1>Страны</h1>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					{% include 'countries/list.html.twig' with { 'continent': continents[0] } %}
					{% include 'countries/list.html.twig' with { 'continent': continents[1] } %}
					{% include 'countries/list.html.twig' with { 'continent': continents[2] } %}
				</div>
				<div class="col-md-4">
					{% include 'countries/list.html.twig' with { 'continent': continents[3] } %}
				</div>
				<div class="col-md-4">
					{% include 'countries/list.html.twig' with { 'continent': continents[4] } %}
					{% include 'countries/list.html.twig' with { 'continent': continents[5] } %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>

{% endblock %}