{% extends 'base.html.twig' %}
{% block body %}
    <div class="vs-page-title">
		<h1>{{ country.title }}</h1>
	</div>
	<div class="row-fluid vs-page-content">
		{% autoescape %}
			{{ country.description|raw }} {# var won't be escaped #}
		{% endautoescape %}
	</div>

{% endblock %}