<style type="text/css">
	#dm-onchat {
		width: 600px;
	}

	.dm-onchat-contacts {
		float: left;
		padding-right: 20px;
		width: 100px;
		border-right: 2px solid green;
	}
	
	.dm-onchat-contacts ul {
		padding: 0px;
		margin: 0px;
	}
	.dm-onchat-contacts ul li a {
		display: block;
		background: rgba(200, 30, 30, 0.8);
		padding: 7px 20px;
		border-radius: 10px;
		color: #fff;
	}
	.dm-onchat-contacts ul li.active a {
		background: rgba(100, 30, 30, 0.8);
	}


</style>

<div id="dm-onchat">
	<div class="dm-onchat-content">
		<div class="dm-onchat-close"><span>&times;</span></div>
		<div class="dm-onchat-head">
			<span class="dm-onchat-photo"></span>
			<span class="dm-onchat-phrase  glyphicon glyphicon-envelope">Чат админа</span>
		</div>
		<div class="dm-onchat-body">
			<div class="dm-onchat-contacts">
				<ul class="nav nav-pills nav-stacked">
				</ul>
			</div>
			<div>
				<div class="tab-content dm-onchat-tabs">
				</div>
				<input type="text" class="dm-onchat-input" placeholder="Введите Ваше сообщение" />
			</div>
		</div>
	</div>
</div>
<script>$("#dm-onchat").olchatadmin();</script>