<div id="dm-onchat">
	<div class="dm-onchat-content">
		<div class="dm-onchat-close"><span>&times;</span></div>
		<div class="dm-onchat-head">
			<span class="dm-onchat-photo"></span>
			<span class="dm-onchat-phrase  glyphicon glyphicon-envelope">Мы онлайн</span>
		</div>
		<div class="dm-onchat-body">
			<div class="dm-onchat-dialog"></div>
			<input type="text" class="dm-onchat-input" placeholder="Введите Ваше сообщение" />
		</div>
	</div>
</div>
<script>$("#dm-onchat").olchat();</script>