{% trans_default_domain 'FOSUserBundle' %}

<div class="vs-page-title">
	<h1>Авторизация</h1>
</div>
<div class="vs-page-content">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
			    {{ form_widget(form) }}
			    <div>
			        <input type="submit" value="{{ 'registration.submit'|trans }}" />
			    </div>
			{{ form_end(form) }}
		</div>
	</div>
</div>